{% extends "goods/base.html" %}
{% load static %}
{% block meta_title %}
    超市
{% endblock %}
{% block css %}
    <style>
        .shop-list-mid .tit a {
            color: #909090;
            font-size: 1.4rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
        }

        .list-price {
            background: url({% if order == 3 %}{% static 'image/order-bot.png' %}
                            {% elif order == 2  %}{% static 'image/order-top.png' %}
                            {% else %}{% static 'image/order.png' %}
                            {% endif %}) no-repeat right center;
        }
    </style>
{% endblock %}
{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <div class="cate-search">
            <form action="/search/" method="get">
                <input type="text" name="q" value="{{ query }}" class="cate-input" placeholder="请输入您要的搜索的产品关键词"/>
                <input type="submit" class="cate-btn" value=""/>
            </form>
        </div>

    </header>
    <div style="height: 49px;"></div>
    <ul class="list-nav">
        <li {% if order == 0 %}class="current"{% endif %}><a href="{% url 'goods:category' cate_id 0 %}">综合</a></li>
        <li {% if order == 1 %}class="current"{% endif %}><a href="{% url 'goods:category' cate_id 1 %}">销量</a></li>
        <li {% if order == 2 or order == 3 %}class="current"{% endif %}><a href="{% url 'goods:category' cate_id 2 %}"
                                                                           id="price_order"><i class="list-price">价格</i></a>
        </li>
        <li {% if order == 4 %}class="current"{% endif %}><a href="{% url 'goods:category' cate_id 4 %}">新品</a></li>
    </ul>
    <div class="content-list">
        <div class="list-left">
            <ul>
                {% for category in categorys %}
                    <li {% if cate_id == category.pk %}class="current"{% endif %}>
                        <a href="{% url "goods:category" category.pk order %}">{{ category.cate_name }}</a>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="list-right">
            <ul class="list-pro">
                {% for goods in goodlist %}
                    <li>
                        <a href="{% url 'goods:detail' goods.pk %}"><img src=" {{ MEDIA_URL }}{{ goods.logo }}"
                                                                         class="list-pic"/></a>
                        <div class="shop-list-mid" style="width: 65%;">
                            <div class="tit"><a href="{% url 'goods:detail' goods.pk %}">
                                {{ goods.goods_spu.spu_name }}{{ goods.sku_name }}</a></div>
                            <div class="am-gallery-desc" id="goods_price">{{ goods.price }}</div>
                            <p>销量：{{ goods.sale_num }}</p>
                        </div>
                        <div class="list-cart">
                            <div class="d-stock ">
                                <a class="decrease">-</a>
                                <input sku-id="{{ goods.id }}" readonly="" class="text_box" name="" type="text"
                                       value="0">
                                <a class="increase">+</a>
                            </div>
                        </div>
                        <!--<a href="" class="list-cart"><img src="images/cart.png" width="30"/></a>-->
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <!--底部-->
    <div style="height: 55px;"></div>
    <div class="fix-bot">
        <a href="{% url "shopCart:cart" %}"><div class="fix-bot-cart"><i id="total_count">{{ total_count }}</i></div></a>
        <a href="{% url "order:确认订单" %}" class="list-js">去结算</a>
        <a href="{% url "order:确认订单" %}" class="list-jsk">一键快购</a>
{#        <div class="js-text">#}
{#           <p><b>￥217.80</b></p>#}
{#           <p class="js-car">购物满50元免运费</p>#}
{#        </div>#}
    </div>

{% endblock %}
{% block footer_js %}
    <script>
        //购物数量加减
        $(function () {
            $('.increase').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                current_num += 1;

                if (current_num > 0) {
                    self.siblings(".decrease").fadeIn();
                    self.siblings(".text_box").fadeIn();
                }

                self.siblings('input').val(current_num);

                //ajax请求
                //准备sku_id和count

                var sku_id = self.siblings("input").attr("sku-id");

                var data = {
                    "sku_id": sku_id,
                    "count":1,
                    "csrfmiddlewaretoken": "{{  csrf_token }}"
                };
                $.post("{% url "shopCart:add" %}", data, function (data) {
                    if (data.error == 3) {
                        {#需要在登录详情view函数中,做一个判断,如果接受到的是一个next,则返回商品详情页#}
                        location.href = "{% url "supermarket:login" %}?next={% url "goods:category" cate_id order %}"
                    } else if (data.error == 0) {
                        $("#total_count").html(data.total_count)
                    } else {
                        alert(data.msg)
                    }
                });
            });


            $('.decrease').click(function () {
                var self = $(this);
                var current_num = parseInt(self.siblings('input').val());
                if (current_num > 0) {
                    current_num -= 1;
                    if (current_num < 1) {
                        self.fadeOut();
                        self.siblings(".text_box").fadeOut();
                    }
                    self.siblings('input').val(current_num);

                    {#购物车数量减少#}
                    //ajax请求
                    //准备sku_id

                    var sku_id = self.siblings("input").attr("sku-id");

                    var data = {
                        "sku_id": sku_id,
                        "csrfmiddlewaretoken": "{{  csrf_token }}"
                    };
                    $.post("{% url "shopCart:reduce" %}", data, function (data) {
                        if (data.error == 3) {
                            {#需要在登录详情view函数中,做一个判断,如果接受到的是一个next,则返回商品详情页#}
                            location.href = "{% url "supermarket:login" %}?next={% url "goods:category" cate_id order %}"
                        } else if (data.error == 0) {
                            $("#total_count").html(data.total_count)
                        } else {
                            alert(data.msg)
                        }
                    });
                }
            })

        })

    </script>

    {#    价格排序#}
    <script>
        $(function () {

            if ("{{ order }}" == 2) {
                $("#price_order").attr("href", "{% url 'goods:category' cate_id 3 %}")

            } else if ("{{ order }}" == 3) {
                $("#price_order").attr("href", "{% url 'goods:category' cate_id 2 %}")
            }

        })
    </script>

{% endblock %}
